.header {
  color: #fff;
 
  max-width: 1080px;
  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

@media only screen and (max-width: 768px) {
.header {
  justify-content: center;
}
}
.divider {
  display: flex;

    flex: 1;
  border-bottom: solid 1.5px #414141;
}

.title {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  
  justify-content: flex-start;
  align-items: center;
  font-family: Mono;
  padding: 20px;
}

.share-sub-container {
  background-color: #121212;
  border: solid 1.5px #414141;
  padding: 10px;
  margin-left: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: center;

}
.share {
  font-weight: bold;
  margin-right: 10px;
  opacity: 80%;
  
}
.share-icon-container {
  padding-left: 10px;
  cursor: pointer;
 
  border-left: solid 1.5px #414141;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.checkmark {
  color: #25EC50;
  font-size: 16px;
}
.share-icon {
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}
.share-icon:hover {
  transform: scale(1.2);
  
}

.share-container {
  display: flex;
  
  padding: 20px;

  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #fff;
}


.share-text {
  color: #fff;

  font-weight: bold;
}


