.container-footer {
  
    display: flex;
    flex: 1;    
    justify-content: center;

}

.footer-text {
    display:inline-block;
    font-weight: bold;
    font-family: Mono;
    color: #fff;
    opacity: 80%;
    text-align: center;
    font-weight: 14px;
}

